.navbar {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
}
.navbar-item-text {
    text-decoration: none;
    color: white;
    line-height: 45px;
}
.navbar-item-text:hover {
    cursor: pointer;
}
.top-panel {
    height: 150px;
    width: 100%;
}
.form-panel {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-panel {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form {
    width: 100%;
    padding-left: 265px;
}
input {
    width: 75%;
    height: 30px;
}
.button {
    height: 40px;
    width: 150px;
    border-radius: 4px;
    background-color: sandybrown;
    border: 1px solid lightgray;
    color: white;
}
.button:hover {
    cursor: pointer;
}
.page-wrapper {
    text-align: center;
    margin-top: 50px;
}